DB__SCHEMA=postgresql+asyncpg
DB__HOST=db
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=
DB__NAME=visualisator

AUTH__JWT_SECRET_KEY=
AUTH__JWT_ALGORITHM=HS256
AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=15
AUTH__REFRESH_TOKEN_EXPIRE_DAYS=7

RBAC__ADMIN_EMAIL=admin@example.com
RBAC__ADMIN_PASSWORD=
RBAC__ADMIN_FIRST_NAME=Admin
RBAC__ADMIN_LAST_NAME=User
RBAC__ADMIN_ROLE=admin
RBAC__PUBLIC_ROLE=public

DEBUG=true